#container {
    display: flex;
    /* makes container a flexbox */
    flex-flow: row wrap;
    /* layout the rows and wrap them */
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1050px;
}

.container2 {
    display: flex;
    /* makes container a flexbox */
    flex-flow: row wrap;
    /* layout the rows and wrap them */
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1050px;
}

.card {
    flex: 1;
    /* makes contents controllable with flexbox */
    display: flex;
    flex-flow: column;
    max-width: 240px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
}

.box {
    flex: 1;
    /* makes contents controllable with flexbox */
    display: flex;
    flex-flow: column;
    max-width: 240px;
    margin: 10px;
    padding: 10px;
    background-color: #000;
}

.makeRed {
    background-color: red;
}

.makeBlue {
    background-color: blue;
}

.box {}